@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9fafb; /* Light background color */
    color: #111827; /* Dark text color */
}